.Homepage {
  background-color: #292929;
  color: white;
  border: 0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  background-color: red;
  border: 0;
}

.featureSection {
  padding: 0;
  font-size: 1.5rem;
}

.footer {
  padding: 0;
  font-size: 1rem;
}/* CSS for dark theme */

.welcomeMsg {
  font-size: 10rem;
}

ul {
  padding: 0;
  margin: 0;
  border: 0;
}

@media (max-width: 928px) {
  .Homepage{
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  .welcomeMsg {
    font-size: 6rem;
  }
}